{% extends 'base.html' %}

{% block content %}
    <img id="castform_image" class="floating" src="static/{{castform[0]}}">
    <br>
    <div id="castform_text">{{castform[1]}}</div>

    <script>
        var a = $.get("/api/status");
        var start = new Date;

        
        function check_castform_status() {
            $.get("/api/status",function(data){
                $("#castform_image").attr("src","static/"+data[0]);
                $("#castform_text").text(data[1]);
            });
        };

        setInterval(function() {
            $('.Timer').text((new Date - start) / 1800 + " Seconds");
            check_castform_status();
        }, 1800);

    </script>
{% endblock %}